.banner img{
    border-radius: 20px;
}
.dp img {
    border-radius: 50%;
}
.banner img{
    width: 100%;
    height: 172px;
    overflow: hidden;
}
.mat-mdc-tab-header{
    position: sticky !important;
    top: 5px;
}

.mat-tab-group {
    margin-bottom: 48px;
  }