<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
   <p style="color: white"> Loading... </p>
</ngx-spinner>
<app-login (isUserLoggedIn)="checkLogin($event)"  *ngIf="!isLoggedIn"></app-login>
<div class="" *ngIf="isLoggedIn">
   <div class="">
      <div class="">
         <app-header></app-header>
      </div>
   </div>
   <div class="content-wrapper">
      <div class="sidebar-section">
         <app-sidebar></app-sidebar>
      </div>
      <div class="rightbar-content">
         <router-outlet></router-outlet>
      </div>
   </div>

</div>